@import "css/corners.css";
@import "css/global.css";

#custom-corner-top-right { background-position: 100% 0%; }
#custom-corner-top-left  { background-position: 100% 0%; }
#custom-corner-btm-right { background-position: 100% 100%; }
#custom-corner-btm-left  { background-position: 100% 100%; }

#pulseaudio {
  background: @fedora;
  border-radius: 10px 0 0 10px;
  min-height: 300px;
}

#pulseaudio.muted {
  color: alpha(@white, 0.5);
}

