@import "css/corners.css";
@import "css/global.css";

#custom-corner-top-right { background-position: 0% 0%; }
#custom-corner-top-left  { background-position: 100% 0%; }

#custom-clock,
#custom-previous,
#custom-mpris-toggle,
#custom-next,
#battery
 {
  background: @fedora;
  padding: 0 25px 5px 25px;
}

/* border-radius */
#custom-clock           { border-bottom-right-radius: 10px; }
#custom-previous { border-bottom-left-radius: 10px; }
#custom-next     { border-bottom-right-radius: 10px; }
#battery         { border-bottom-left-radius: 10px; }

/* batt anime */
@keyframes criticalblink {
  0%   { text-shadow: @white 2px 2px; color: @red; }
  50%  { text-shadow: @red 2px 2px; color: @white; }
  100% { text-shadow: @white 2px 2px; color: @red; }
}

#battery.critical:not(.charging) {
  animation: criticalblink 0.8s infinite;
}

/* hover */
#custom-clock,
#mpris.dynamic,
#custom-previous,
#custom-mpris-toggle,
#custom-next,
#cpu,
#memory,
#network,
#battery:not(.critical),
#battery.charging {
  transition: text-shadow .30s ease;
}

#custom-clock:hover,
#mpris.dynamic:hover,
#custom-previous:hover,
#custom-mpris-toggle:hover,
#custom-next:hover,
#cpu:hover,
#memory:hover,
#network:hover,
#battery:not(.critical):hover,
#battery.charging:hover{
  text-shadow: @white 2px 2px;
  color: @red;
}

/* tooltip */
tooltip label {
  margin: 20px;
}

/*  */
#mpris.dynamic,
#cpu,
#memory,
#network {
  color: alpha(@white, .8);
  text-shadow: @black 2px 5px;
}

